* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #ffffff;
  height: 100%;
  padding: 0;
  margin: 0%;
}

img {
  width: 100%;
}

/*     main page*/
.main-page {
  //overflow: hidden;
  background-image:linear-gradient(
      135deg,rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("images/developer.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.in-the-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  h1 {
    border-top: 3px solid #9770d9;
    border-bottom: 3px solid #9770d9;
    color: #ddd;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  p {
    color: #ffffff;
    font-size: 2.9rem;
  }
}

.btn-group {
  margin-top: 4rem;
  display: flex;
  //height: 20vh;
  justify-content: center;
  .btn {
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    outline: none;
    padding: 0.5rem 1rem;
    background: #9770d9;
    color: #ddd;
    border: 1px solid #fff;
    border: none;
    border-radius: 20px;
    margin: 2rem;
    cursor: pointer;
    :hover {
      background: #fff;
      color: #9770d9;
    }
  }
}

#wrapper {
  display: none;
  margin-top: 4rem;
  transition: all 1s;
  .avatar {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
}



/* cv page*/
.container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

header {
  text-align: center;
  h1 {
    font-size: 5rem;
    margin: 0;
    padding: 1rem;
    word-spacing: 1rem;
    word-wrap: break-word;
  }
  p {
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.7;
  }
}

.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  line-height: 0.5;
}

.work-list {
  margin: 0;
  line-height: 1.6;
}
//* P O R T F O L I O*//


#portfolio {
  display: none;
  max-width: 1000px;
  margin: auto;
  h1 {
  font-size: 50px;
  word-break: break-all;
  text-align: center;
}
}



.row {
  margin: 8px -16px;
}

.row, 
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #f1f1f1;
  padding: 1rem;
}
@media screen and (max-width:900px) {
  .column {
    width: 50%;
  }
 }
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
 }






